.b-alay {
  text-align: center;
}

.b-alay__header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.b-alay__header__logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.b-alay__app__fieldset {
  border: none;
}

.b-alay__app__fieldset__list {
  list-style-type: none;
  padding-left: 0;
}

.b-alay__app__fieldset__list__checkbox {
  display: inline-block;
  padding-right: 20px;
}

.b-alay__app__textarea {
  font-size: 14px;
  margin-right: 20px;
  padding: 10px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
